.header {
    display: grid;
    grid-template-columns: 1.5fr 6fr;
    margin: 20px 3% 35px;
    padding: 30px 32px 26px;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    align-items: center;
    position: relative;
}

.mainNav{
    color: var(--main-text-color);
    font-size: 32px;

    &__list{
        display: flex;
        justify-content: space-around;
        list-style: none;
        align-items: center;
        padding-left: 10px;
    }
    &__burgerImg{
        width: 40;
        height: 28px;
    }
}

.burgerMenu{
    display: none;
    border: none;
    background-color: inherit;
    & img:active {
        scale: 1.4;
    }
}

@media (max-width: 1150px) {
    .mainNav{
        font-size: 26px;
    }
}

// @media (max-width: 950px) {
//     .mainNav{
//         font-size: 22px;
//     }
// }

@media (max-width: 950px) {
    .mainNav{
        font-size: 19px;
    }   
}


@media (max-width: 768px) {
    .mainNav{
        display: none;
    }
    .burgerMenu{
        display: flex;
        justify-content: right;
    }
}

@media (max-width: 375px) {

    
}