.feedBack {
    max-width: 1440px;
    width: 100%;
    margin: 0 -10px;
    margin-top: 100px;
    margin-bottom: 100px;
    &__heading {
        color: var(--main-color);
        font-size: 128px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 10px;
        line-height: 1;
    }
}

@media (max-width: 768px) {
    .feedBack {
        &__heading {
        font-size: 50px;
        }
    }
}
